<!DOCTYPE html>
<html>
<head>
	<title>Boogle</title>
	<meta charset="UTF-8">
	<link rel="stylesheet"  href="/static/css/boogle_style.css">
</head>
<body>
	<div class="header">
		<a class="links" href="#">Gmail</a>
		<a class="links" href="#">Slike</a>
	</div>
	<div class="boogle-box">
		<img id="boogle-pic" src="/static/img/boogle-image.jpeg">
	</div>
	<div class="search-box">
		<input id="search-bar" type="text" placeholder="Search..">
	</div>
	<div class="subtext">
	</div>
	<div class="slovenija"></div>
	<div class="footer"></div>
</body>
</html>